doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./public/stylesheets/style.css')
  body
    #widget
      each x in items
        .item(class="#{x.product}")
          img(src="#{x.image}")
          .item-content
            .company-name #{x.name}
            img.product-logo(src="./public/images/#{x.product}.png")
            .industry #{x.industry}
            .desc #{x.description}
            .sales Sales Contact - #{x.sales}
            if x.presales
              .presales Presales Contact - #{x.presales}