@page {
  size: auto;
  margin: 0mm;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.item {
  width: 700px;
  padding: 15px;
  border-bottom: 4px solid #ccc;
  font-weight: bold;
  background-color: #f9f9f9;
  page-break-inside: avoid;
}
.item > img {
  width: 120px;
  float: left;
}
.item-content {
  margin-left: 140px;
}
.company-name {
  float: left;
}
.product-logo {
  height: 18px;
  margin-left: 5px;
}
.industry {
  float: right;
}
.desc {
  font-weight: normal;
}
.Freshservice {
  color: #0389ad;
}
.Freshdesk {
  color: #008000;
}
